.works{display:flex;justify-content:center;align-items:center;background-color:#93aee5;min-height:100vh}.works .left{padding-right:2vmax;background-color:#fff;border-radius:10px}.works .right{flex:1}
